{% extends 'base.html' %}

{% block title %}Notas{% endblock %}

{% block content %}
    <h1>Boletim de Notas</h1>
    <ul class="data-list">
        {% for aluno in alunos %}
            <li>
                <span><strong>{{ aluno.nome }}</strong> (Nota: {{ aluno.nota }})</span>
                {% if aluno.nota >= 7 %}
                    <span class="badge-green">Aprovado</span>
                {% else %}
                    <span class="badge-red">Reprovado</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
